.register-container {
    justify-content: center;
    align-items: center;
    padding: 100px 10px 0px 10px;
}

.app-wrapper {
    background-color: skyblue;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 5px;
}

.title {
    color:#000e3e;
    text-align: center;
    margin-bottom: 4rem;
}

.name, .email, .password {
   color: #000e3e;
   font-size: 16px; 
}

.password {
    margin-bottom: 4rem;
}

.input {
    color: #000e3e;
    height: 32px;
    font-size: 15px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black;
    margin-bottom: 10px;
    padding: 0;
}

.error {
    color: crimson;
}

.btn-1 {
    width: 100%;
    padding: 10px 40px;
    background-color: #000e3e;
    color: azure;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
    outline: none;
    border: transparent;
    border-radius: 4px;
    transition: all 0.2s;
}

button:active {
    transform: translateY(2px);
}

.form-success {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: tomato;
}
@media screen and (max-width: 940px) {
    h1 {
        font-size: 24px;
    }
    .register-container {
        width: 100vw;
    }
    /* .app-wrapper {
        background-color: skyblue;
        align-items: center;
        width: 450px;
        min-height: 650px;
        margin-left: 12rem;
        margin-right: 20px;
        padding: 3rem;
        box-sizing: border-box;
        border-radius: 5px;
       
    } */

    @media  screen and (max-width: 478px) {
        h1 {
            font-size: 22px;
        }
        .register-container {
            width: 100vw;
        }
        /* .app-wrapper {
            background-color: skyblue;
            align-items: center;
            width: 350px;
            margin-left: 20px;
            margin-right: 10px;
            padding: 3rem;
            box-sizing: border-box;
            border-radius: 5px;
        } */
    }
    
}

