.main-container {
    justify-content: center;
    align-items: center;
    padding: 100px 10px 0px 10px;
}
.signin-container {
    background-color: skyblue;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 5px;
}
.signin-title {
    margin-bottom: 4rem;
    color: #000e3e;
    text-align: center;
}
.signin-email, .signin-psw {
    display: grid;
    font-size: 16px; 
    color: #000e3e;
}
.password {
    margin-bottom: 4rem;
}
.error {
    color: crimson;
}

.input {
    color: #000e3e;
    height: 32px;
    font-size: 15px;
    outline: none;
    width: 10%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black;
    margin-bottom: 10px;
    padding: 0;
}
.btn-2 {
    padding: 13px 30px;
    background-color: var(--primary);
    color: azure;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border:transparent;
    border-radius: 4px;
    margin-top: 2rem;
}
@media screen and (max-width: 940px) {
    h1 {
        font-size: 24px;
    }
}
    @media screen and (max-width: 478px) {
        h1 {
            font-size: 22px;
        }
    }