.features {
    text-align: center;
    color: black;
    background: #ffffff;
    font-weight: 450;
    margin-top: 4rem;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem; 
    background: #ffffff;
}

.features .container .coin-icon {
     padding: 2rem;
}

.features .coin-icon h2 {
     padding: 1rem;
}

.features img {
    width: 100%;
    max-width: 150px;
}

@media screen and (max-width: 940px) {
    .features .container {
        grid-template-columns: 1fr;
    }
    
}