.footer {
    background-color: var(--background);
    padding: 5rem 0;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    padding: 1rem;
}

.footer .col {
    display: flex;
    flex-direction: column;
}
.footer .col .span-footer {
    color: tomato;
}
.footer .col a {
    width: 100%;
    margin-left: 5px;
    margin-top: 2px ;
    display: flex;
   
}
.footer .bar {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    margin-left: 5px;
    width: 30px;
    border-bottom: 4px solid var(--primary);
}

.footer a {
    font-size: 1rem;
}

.footer li:hover {
    cursor: pointer;
    color: tomato;
    text-decoration-color: tomato;
    transition: 0.5s;
}

.footer .icon {
    color: #303030;
    margin-right: 4px;
}

.footer h5 {
    margin-left: 5px;
    margin-top: 1rem;
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .col-1 {
        display: none;
    }

    @media screen and (max-width: 478px) {
        .footer .container {
            grid-template-columns: repeat(2,1fr);
        }
    }
}