.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.hero .container .span-hero{
    color: tomato;
}

.hero .left {
    padding: 1rem;
}
.hero .left p {
    text-align: justify;
}

.hero h1 {
    padding: 1rem 0;
}

.hero .input-container {
    padding: 1rem 0;
    margin-top: 0.8rem;
}

.hero .right {
    padding: 1rem;
}

.hero .img-container{
    width: 100%;
    display: flex;
}

.hero img {
    max-width: 80%;
    margin: auto;
}
.hero input {
    width: 100%;
}

@media screen and (max-width: 940px) {
    .hero .container {
        grid-template-columns: 1fr;

    }

    @media  screen and (max-width: 478px) {
        .hero .container h1 {
            margin-top: 2rem;
            font-size: 25px;
        }
    }
}