.portfolio .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   padding: 3rem 1rem;
   border-bottom: 1px solid #e5e9f3;
}

.portfolio img {
  width: 100%;
  max-width: 600px;
}

.portfolio .left h2 {
    margin: 1.2rem;
}

.portfolio .left p {
  margin: 1.2rem;
  text-align: justify;
}

.portfolio .left .btn {
  margin: 0 0 0 1.2rem;
  border-radius: 4px;
}
.portfolio .container .left .btn:after {
  top: 0;
  z-index: -1;
  transform: translate3D(-101%,0,0);
}
.portfolio .container .left .btn:hover {
  background: transparent;
  background-color: rgb(4, 4, 24);
  transition: all .5s;
}
.portfolio .container .left .btn:hover:after {
  transition: all .5s;
}

@media screen and (max-width: 940px) {
  .portfolio .container {
      grid-template-columns: 1fr;

  }
  
}

@media screen and (max-width: 478px) {
  .portfolio .container .left {
    grid-template-columns: 1fr;

    justify-content: center;
    align-items: center;
  }
}