.trade .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem; 
    border-bottom: 1px solid #e5e9f3;
    border-radius: 5px;
}
 
.trade img {
    width: 100%;
    max-width: 600px;
 }
 
.trade .right h2 {
     margin: 1.2rem;
 }
 
.trade .right p {
   margin: 1.2rem;
 }

@media screen and (max-width: 940px) {
    .trade .container {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    
}